%div#serverlist
  %div#serverfilters
    %div#serverfunctions
      %ul
        -if user_signed_in?
          %li
            = link_to 'Submit New Server', new_server_path
        %li
          =form_tag servers_search_path, :method => :post do
            =text_field_tag :search, params[:search], :value => "Search"
    %div#serverheader
      %div
        %p
          Submitted servers are listed below.  We're still in
          the process of adding new features and making changes
          all over the place. Comments, critiques, and suggestions
          are encouraged. User comments, voting, mod tags, and a
          bunch of other neat things are on the way.
              
    %br.clearboth
  %ul#serverlist-ul
    - if @servers.empty?
      %p No servers found...
    - else
      - @servers.each do |server|
        %li{:class => "server", :id => server.id }
          %span.serverleft
            %span.servername
              = link_to truncate(server.name,:length => 33), server
            %b
              =a_or_an game_mode_to_s server.game_mode
              server.
          %span.serverright
            -if !server.website.nil? and !server.website.blank?
              %b
                website:
              = link_to server.website, server.website, :target => "_blank"
            %br
            %b
              Description:
            = truncate(server.description,:length => 250, :separator => " ", :omission => "....")
      = will_paginate @servers
  %br.clearboth


