%div#serverlist
  %div#serverfilters
    %div#serverfunctions
      %ul
        -if user_signed_in?
          %li
            = link_to 'Submit New Server', new_server_path
        %li
          %input{:type => "text", :value => "Search"}
    %div#serverheader
      %div
        A bunch of text will go here for now.
              
    %br.clearboth
  %ul#serverlist-ul
    - @servers.each do |server|
      %li{:class => "server", :id => server.id }
        %span.serverleft
          %span.servername
            = link_to truncate(server.name,:length => 33), server
          %b
            =a_or_an game_mode_to_s server.game_mode
            server.
        %span.serverright
          -if !server.website.nil? and !server.website.blank?
            %b
              website:
            = link_to server.website, server.website, :target => "_blank"
          %br
          %b
            Description:
          = truncate(server.description,:length => 250, :separator => " ", :omission => "....")
    = will_paginate @servers
  %br.clearboth


