
%div#showserver
  %div.header
    %div#servertitle
      %div=@server.name
  %div#serverbody
    %div#servercontent
      %div#serverdetails
        = @server.description
        %hr
        This is
        %b
          = a_or_an game_mode_to_s @server.game_mode
        server.
        - if !@server.location.nil? && !@server.location.blank?
          Its located in
          %b
            %span>= @server.location
          %span{:style => "display:none;"}> -# Used to eliminate white space after ruby code
          , 
          and
        - else
          It
        %b
          does
          - if @server.whitelist_url.nil? || @server.whitelist_url.blank?
            not
        require players to be whitelisted.
        
      %div#serveractions
        %ul
          %li
            Server announced on
            = @server.created_at
    %div#serverinfo
      %div#serverinfo-title
        Server Basics
      %hr
      - if !@server.website.nil? && !@server.website.blank?
        %div.serverinfo-field
          %b
            Website:
          %br
          = link_to @server.website, @server.website, :target => "_blank"
      %div.serverinfo-field
        %b
          Server IP:
        %br
        = @server.mc_server_address
      %div.serverinfo-field
        %b
          Port:
        %br
        = @server.port
      %div.serverinfo-field
        %b
          Game Mode:
        %br
        = game_mode_to_s @server.game_mode
      - if !@server.whitelist_url.nil? && !@server.whitelist_url.blank?
        %div.serverinfo-field
          %b
            Whitelist URL:
          %br
          = link_to @server.whitelist_url, @server.whitelist_url, :target => "_blank"
      - if !@server.location.nil? && !@server.location.blank?
        %div.serverinfo-field
          %b
            Location:
          %br
          = @server.location
    %br.clearboth
- if can? :update, @server
  = link_to 'Edit', edit_server_path(@server)
