%div#showserver
  %div.header
    %div#servertitle
      %h1=@server.name
    %span#serverauthor
      %b
        submitted by: 
      =link_to @server.user.username, @server.user
    %span#serverhttp
      %b
        Website:
      = @server.website
    %span#serverip
      %b
        Server Address:
      = @server.mc_server_address
      
      = @server.port
    %span#gamemode
      %b
        Game Type:
      = game_mode_to_s @server.game_mode
    %span#location
      %b
        Location:
      = @server.location

  %p
    Description:
    = h(@server.description).gsub(/\n/, '<br />')
    
  -if !@server.location.nil? and !@server.location.blank?
    %p
      Location:
      = @server.location


  -if !@server.whitelist_url.nil? and !@server.whitelist_url.blank?
    %p
      Whitelist URL:
      = @server.whitelist_url

  - if can? :update, @server
    = link_to 'Edit', edit_server_path(@server)
